//- - const user = {is_logged_in: false, username: ""}
//- -
//-         let user = {
//-                 username: ""
//-                 , wishlist: []
//-             }
nav.heads
    //- - let loggedIn = user.is_logged_in ? true : false
    a(href="/suggestions/form"): button.suggest
        include ./trail.svg
    a(href="/").home_link
        h2.logo Trail Buddy
        script(src="/static/js/heads.js", type="application/javascript", async, defer)
    .ham_container
        .ham
            ul.ham_menu
                a(href=user ? '/users/profile' : '/login')
                    li #{user ? 'PROFILE' : 'LOGIN'}
                a(href=user ? '/users/wishlist' : '/signup')
                    li #{user ? 'TRAIL TO DOS' : 'SIGNUP'}
                a(href='/suggestions/form')
                    li SEARCH
                a(href='/contact')
                    li CONTACT
                a(href=user ? '/auth/logout' : '/invite').invite
                    li= user ? 'LOGOUT' : 'INVITE'
                //- a(href='/auth/logout').logout
                //-     li= user ? 'LOGOUT' : 'INVITE'
    section.login
        if user
            .register
                a(href='/auth/logout'): button.logout Logout 
                a(href='/users/profile').profile_pic
                    if user.profile_pic
                        .user_pic(style={'background-image': `url(${user.profile_pic})`, "background-position": "center", "background-size": "cover"})
                    else
                        include ../public/images/profile_icon.svg
                    button #{user.username}
        else
            .register
                a(href='/login'): button.login Login
                a(href='/signup'): button.signup Signup
        .burger_container
            svg#menu_trigger.real_hamburger( xmlns="http://www.w3.org/2000/svg", xlink="http://www.w3.org/1999/xlink", version="1.1", x="0px", y="0px", viewBox="0 0 462.994 462.994" )
                include ../public/images/hamburger.svg
            ul.burger_menu
                a(href=user ? '/users/profile' : '/login')
                    li #{user ? 'PROFILE' : 'LOGIN'}
                a(href=user ? '/users/wishlist' : '/signup')
                    li #{user ? 'TRAIL TO DOS' : 'LOGIN'}
                a(href='/suggestions/form')
                    li SEARCH
                a(href='/contact')
                    li CONTACT
                //- a(href='/auth/logout').invite
                //-     li INVITE
                a(href='/auth/logout').logout
                    li LOGOUT