extends layout

//- mixin traillist
//-     ul
//-         each trail, i in trails
//-             li= trail.name

block content
    - console.log('From home.pug data: ', trails, 'User: ', user) 
    - const name = 'Steve'
    h1 Check Out These Sick Trails Near Salt Lake
    p Your trails await!
    section.trails-list
        each trail in trails
            a(href=`/trails/:${trail.id}`): .trail
                img.trail-img(src=trail.imgSqSmall, alt=trail.name)
                .trail-info
                    p= trail.name
                    p= 'Difficulty: ' + trail.difficulty
    //- +traillist


        //- li Y Mountain to the Y
        //- li Squaw Peak Back Trail
        //- li Stuart Falls