extends layout

//- mixin traillist
//-     ul
//-         each trail, i in trails
//-             li= trail.name

block content
    style
        include ../public/styles/css/home.css
    include search
    script.
        setTimeout(() => {
            if(window.navigator.geolocation){
                console.log(window.navigator)
            }else{
                alert('Location Services Disabled. Please enable to see nearby Trails.')
            }
        }, 500)

    section.home
        if !navigator || !navigator.geolocation
            h1 Top Trails Near Utah
            section.trails_list
                each trail in trails
                    .trail
                        -
                            let noImg = !trail.imgMedium.length
                            let img = noImg ?  '/static/images/no-image.jpg' : trail.imgMedium
                            let bgPosition = noImg ? 'center' : 'top center'
                            let bgSize = noImg ? "contain" : "cover"
                        a(href=`/trails/${trail.id}`): .trail-img(style={"background-image": "url(" + img + ")", "background-position": bgPosition, "background-size": bgSize}, alt=trail.name)
                        .trail-info
                            h3= trail.name
                            p.location= trail.location
                            .details
                                p= 'Difficulty: ' + difficulties[trail.difficulty]
                                p.length= trail.length + ' miles'
                                - let stars = new Array(~~(trail.stars/1)).fill(1)
                                .rating Rating: 
                                    each star in stars
                                        include ../public/images/rating_star.svg 

                            if user && !user.wishlist.find(v => v.api_id === trail.id)
                                svg(id=trail.id, class="star", xmlns="http://www.w3.org/2000/svg", xmlnsXlink="http://www.w3.org/1999/xlink", version="1.1", x="0px", y="0px", viewBox="0 0 512.001 512.001", width="1.75rem", height="1.75rem"): include ../public/images/shooting-star.svg
        else
            h1 Check Out These Sick Trails Nearby
            p Your trails await!
            .trails-list



    //- +traillist


        //- li Y Mountain to the Y
        //- li Squaw Peak Back Trail
        //- li Stuart Falls